@model IEnumerable<Licenta1.Models.Eveniment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEvent)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.DescriereEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PozeEvent)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GenEvent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NumeEvent)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataEvent)
    </td>
   @* <td>
        @Html.DisplayFor(modelItem => item.DescriereEvent)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PozeEvent)
    </td>*@
<td>
    @Html.DisplayFor(modelItem => item.GenEvent) - 
    @Html.ActionLink("Details", "Details", new { id = item.EvenimentId })
</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EvenimentId })  |
        @Html.ActionLink("Delete", "Delete", new { id = item.EvenimentId })
    </td>
</tr>
}

</table>
