@model IEnumerable<Licenta1.Models.Eveniment>

@{
    ViewBag.Title = "IndexIstoric";
}

<h2>Evenimente</h2>


<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEvent)
        </th>
        @* <th>
                @Html.DisplayNameFor(model => model.DescriereEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PozeEvent)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GenEvent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.PozeEvent" style="max-width:100px; max-height:100px" ; />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvent)
            </td>
            @* <td>
                    @Html.DisplayFor(modelItem => item.DescriereEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PozeEvent)
                </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.GenEvent)
        </td>
        <td>
            @if (Session["Email"] == null || Session["Email"].ToString() != "admin")
            {
                @Html.ActionLink("Details", "Details", new { id = item.EvenimentId }) }
            else
            {
                if (Session["Email"].ToString() == "admin")
                {
                    @Html.ActionLink("- Details ", "Details", new { id = item.EvenimentId })
                    @Html.ActionLink(" | Edit ", "Edit", new { id = item.EvenimentId })
                    @Html.ActionLink(" | Delete", "Delete", new { id = item.EvenimentId })
                }
            }
            @* @if (Session["Id"] != null)
        {
            @Html.ActionLink("Anunta-ma", "SendEmail", new { id = item.EvenimentId })}*@
        </td>
        </tr>
    }

</table>